@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Mulish:wght@300&family=Ubuntu&display=swap');

/* Estilos generales */
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

/* Estilos del encabezado */
header {
background-color: #17171f;
color: #fff;
padding: 10px;
display: flex;
justify-content: space-between;
}

.logo img {
width: 100%;
height: 20vh;
border-radius: 20px;
margin-left: 30%;
margin-top: 10%;
margin-bottom: 10%;
}

nav ul {
list-style: none;
display: flex;
justify-content: right;
align-items: right;
padding: 0;
margin-right: 120px;
margin-top: 15%;
}

nav ul li {
display: inline-block;
margin-left: 10px;
}

nav ul li a {
color: #50006d;
text-decoration: none;
}

#home{
    background-image: url(../img/cabecera.png);
    background-size: cover;
    height: 50vh;
    margin: 0px;
    padding: 0px;
}

#home h1{
    color: #fff;
    font-size: 5px;
    text-align: center;
    padding-top: 10%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
}

#home p{
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}	

/*GALERIA****************************************************************************************/

/* styles.css */

.gallery {
/* flex-wrap: wrap; */
width: 100%;
}

#galeria{
    margin: 0 auto;
    margin-top: 10%;
    width: 60%;
}

/* Estilos para el listado */
  .container {
    display: flex;
    margin-top: 10%;
  }
  
  .product-list {
    flex: auto;
    justify-content: space-between;
  }
  
  .product-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .product-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .product-name {
    font-weight: bold;
    margin-left: 15%;
    font-family: 'Mr Dafoe', cursive;
  }

  .product-price {
    margin-right: 35%;
  }
  
  .product-image {
    margin-left: 20px;
    margin-right: 5%;
  }

  /*SECCION DEL CONTACTO********************************************/
  .contact-section {
    padding: 20px;
    margin-top: 10%;
    animation: background-animation 0.2s infinite;
  }
  
  .contact-section h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Mulish', sans-serif;
  }
  
  .contact-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

  
  @keyframes background-animation {
    0% { background-color: #2bff00; }
    25% { background-color: #ff00e1; }
    50% { background-color: #c3ff00; }
    75% { background-color: #ff0000; }
    100% { background-color: #00eeff; }
  }
  
  
  
/*SECCION DEL MAPA***************************************************************************/
.contact-section1 {
    display: flex;
    margin: 20px;
  }
  
  .map-container {
    flex: 1;
    height: 400px; /* Ajusta la altura del mapa según tus necesidades */
  }
  
  .contact-info {
    flex: 1;
    /* padding-left: 20px; */
  }

  .contact-info img{
    width: 90%;
  }
  

  /*FOOTER**********************************************************************************/
  footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .company-name {
    margin-right: 20px;
  }
  
  .contact-info1 {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
  }  
  
  /*VIDEO************************************************************************************/
  .video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }
  
  .video-container {
    margin: 0 10%;
    max-width: 100%;
  }
  
  .video {
    width: 100%;
    height: auto;
  }
  

  
  /* Estilos específicos para pantallas de 380px */
  @media screen and (max-width: 380px) {
    /* Estilos para el listado en pantallas de 380px */
    #listado {
      font-weight: normal; /* Se quita la negrita */
    }
    
    /* Estilos para la foto en pantallas de 380px */
    #foto {
      flex-direction: column;
      align-items: center;
    }
  }
  

.row {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 20px;
}

.photo {
width: calc(33.33% - 20px);
margin: 10px;
}

.photo img {
width: 100%;
height: auto;
}
  

/* Estilos del contenido principal */
main {
/* padding: 20px; */
}

/* Estilos del pie de página */
footer {
background-color: #333;
color: #fff;
padding: 10px;
text-align: center;
}


@media screen and (max-width: 380px) {
    header{
        flex-direction: column;
        width: 100%;
    }

    .logo img{
        width: 50%;
        height: 120px;
        margin-left: -10%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    nav ul{
        margin-right: 0px;
        margin-top: 0%;
    }

    nav ul li{
        display: block;
        margin-left: 0px;
    }

    nav ul li a{
        color: #fff;
        text-decoration: none;
    }




    body{
        
    }
}
